# Unity

Temp/
Library/
Logs/
UserSettings/
obj/
Builds/
Packages/

*.meta
!*.unity.meta
!*.png.meta


# VS
.vscode/
.vs/
*.csproj
*.sln


# Other Files
Tester.cs
TestScene.unity
TestScene.unity.meta

